<% provide(:title, "Reset Your Password") %>

<div class="row">
  <div class="form-area">
  <div class="orga-signin">Request A Password Reset</div><style>.orga-signin {text-align: center; font-size: 2.5em; margin-top: 1em; }</style>
<%= form_for(:password_reset_request, url: password_reset_request_path, method: :patch) do |f|  %>
	
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.submit "Reset Password", class: "btn btn-large btn-primary" %>
<% end %>

 </div>
</div>