<!-- Will sort this out once checkin button works -->
<% provide(:title, 'Event History') %>
<div class="ccontainer">
<div class='bwell centext'>
  
      <%#= gravatar_for @user %>
      <li class='bwchild text1-5 marg30px-b'>
      <%= link_to @user.name, @user %>
      </li>     
    

      <%#= render 'shared/stats' %>
      
</div>

<div class="content_container">
  <% if @events.any? %>
    <%= render @events %>
      
    <%= will_paginate @events %>
  <% end %>

</div>    
</div>