<!-- This title and h1 will change depending on organization -->
<% provide(:title, "All Events") %>
<div class="ccontainer">

<%= render 'shared/event_form' %>

<%= will_paginate %>

<% if !current_user.nil? %>
<div class="content_container">
	
		<%= show_events_for_user(current_user).html_safe %>
	

	<%= will_paginate %>

<% else %>
<% end %>
</div>
</div>