<%= provide(:title, 'Home') %>
<h1 class="calheader">Dynamic Calendar Test</h1><style>.calheader {text-align: center;}</style>

<%= Date::MONTHNAMES[@month] %> <%#= @year %>
<%= calendar(@month, @year).html_safe %>
