<body class=" app-ios app-ios-7 app-loaded">
    

    

 <div class="app-page" data-page="page2">
      <div class="app-topbar">
        <div class="app-button left" data-back="" data-autotitle="" data-clickable-class="active" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0);">Home page</div>
        <div class="app-title" style="">Page 2</div>


      </div>
      <div class="app-content app-scrollable" style="height: 524px; overflow: scroll;">
        Page 2 is lonely
        <ul class="app-list">
					<label>Label 1</label>
					<li class="app-button" data-target="lists" data-clickable-class="active" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0);">Item 1</li>
					<li class="app-button" data-clickable-class="active" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0);">Item 2</li>
					<li class="app-button" data-clickable-class="active" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0);">Item 3</li>
					<label>Label 2</label>
					<li>Item 4</li>
					<li>Item 5</li>
					<li>Item 6</li>
					<label>Label 3</label>
					<li>Item 7</li>
					<li>Item 8</li>
					<li>Item 9</li>
					<label>Label 4</label>
					<li>Item 10</li>
					<li>Item 11</li>
					<li>Item 12</li>
					<label>Label 5</label>
					<li>Item 13</li>
					<li>Item 14</li>
					<li>Item 15</li>
				</ul>
      </div>
    </div>
  <style>element.style {
}
.app-list {
}
.app-list {
list-style: none;
}
html, body, div, form, p, ul, li, span, label, img {
margin: 0;
padding: 0;
outline: none;
}
* {
-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
tap-highlight-color: rgba(0,0,0,0) !important;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
Pseudo ::-webkit-scrollbar element
.app-no-scrollbar ::-webkit-scrollbar {
height: 0 !important;
width: 0 !important;
}
Inherited from body.app-ios.app-ios-7.app-no-scrollbar.app-loaded
body {
position: relative;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
overflow: hidden;
}</style>
