@import 'mixins-flexbox';

/* CALENDAR STYLINGS (Plus some form stylings) */



.cal-row {
	@include flexbox();
	font-size: 1em;
}



.cal-day {
	@include flexbox-flex(1);
	background-color: yellow;
	border: 1px solid red;
	height: 2em;

}