@import 'mixins-flexbox';

/* CALENDAR STYLINGS (Plus some form stylings) */

.calheader {
	text-align: center;
	margin: 25px auto;
}

.cal-row {
	@include flexbox();
	font-size: .85em;
}

.cal-day {
	@include flexbox-flex(1);
	padding: 1px 0 0 1px;
	background-color: #fff;
	border: 1px solid #FCFCFC; /* subtle border b/c 1px looks to large */
	height: 4em;
}

.dow {
	text-align: center;
	line-height: 2em;
	height: 2em;
	background: #46423D;
	color: #fff;
}

.cal-dow {
	@include flexbox-flex(1);
	margin: -1px 0;
}

.event_creator, .event_creator_alt {
	padding-top: 5px;
	height: 2.5em;
	width: 2.25em;
	background: #fff;
	margin: 1em calc(-1.25em + 1px) auto auto;
	float: right;	
}

.string_short, .string_short_alt {
  background: #46423D;
  width: 1px;
  height: 1em;
  float: right;
  margin-right: 2em;
}

.string_short_alt {
	float: left;
	margin-right: auto;
	margin-left: 2em;
		visibility: hidden;
}

.event_creator_alt {
	float: left;
	margin-right: 0;
	margin-left: calc(-1.25em + 1px);
	visibility: hidden;
}