
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox-flex($width) {
  -webkit-box-flex: $width;
  -moz-box-flex: $width;
  -webkit-flex: $width;
  -ms-flex: $width;
  flex: $width;
}


li {
  list-style: none;
}

li a {
  text-decoration: none;
}

/* extend classes */


.center-inline-block {
  width: 100%;
  text-align: center;
}




/* application-wide */

/* alerts */
.alert { background: yellow; color: red; height: 3em; line-height: 3em; }

.alert-success { background: green; color: blue; }

.alert-success { background: rgba(181, 100, 255, 0.4); color: #A1497B  }



body {
	padding: 60px 0;
	background-color: #E9EAEB;
  overflow-y:hidden;
  /* #eeecef */	
  /* #DEDCDF */
}

.ccontainer, .content_container {
  margin: 0 auto;
  width: 95%;
}



.bwell {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-style: border-box;
  border-radius: 3.25px;
  margin: .75em auto;
  border: 1.5px solid #BEBDBF;
  @include flexbox();
  flex-direction: column;
  align-content: space-between;
}

.bwchild {
  @include flexbox-flex(1);
  padding-left: .5em;
  padding-right: .5em;
}

.alert{
  margin: 0 auto;
  text-align: center;
}

.org-img {
  margin: 5px;
  vertical-align: middle;
  height: 3em;
  width: 3em;
}

.event_title {
  font-size: 1.5em;
  text-align: center;
  color: black;
}

.checkinbox {
  margin: 0 auto;
}

.event_times {
  color: grey;
}

.bwell-rel {


}

.block {
  display: block;
}


#black-attempt {
	color: red;
	/* sublime black background-color: #46423D; */
	background-color: #A1497B;
}


/* to remember for desktop header font-size
#logo {
	font-size: 1.85em;
	color: #fff;
}
*/







/* forms */


.event_form input, .event_form textarea {
  height: 1.5em !important;
  width: 100%;
  border-radius: 2%;

}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  /* @extend .error; Don't think there is an .error class */
}




/* Media queries for non calendar pages */





/* events-comments */



.event-title {
  
}

.comment {
  display: block;
}
.timestamp {
  color: #272822;
}
.gravatar {
  float: left;
  margin-right: 10px;
}


.center-wrapper {
	width: 40%;
	margin: 0 auto;
}

@media screen and (max-width: 620px) {
  .center-wrapper {
    width: 70%;
  }
}

.listed_user {
	list-style: none;
	font-size: 1.75em;
}

.btn-xlarge {
		margin: 5px auto;
    background-color: #00CC66;
    font-size: .75em; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

/* Maybe have all red/green text stylings in two classes/ids and then comment them */
.locked-event {
	color: red;
}

.unlocked-event {
	color: green;
}