@import 'mixins-flexbox';

/* html elements */

li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 500;
}

/* extend classes CLEAN THIS UP */


.center-inline-block {
  width: 100%;
  text-align: center;
}

.tgrey {
  color: grey;
}
.twhite {
  color: white;
}


/* application-wide */


/* alerts */
.alert { background: yellow; color: red; height: 3em; line-height: 3em; }

.alert-success { background: green; color: blue; }

.alert-success { background: rgba(181, 100, 255, 0.4); color: #A1497B  }



body {
	padding: 2.5em 0;
	background-color: #DEDCDF;
  overflow-y:hidden;
  /* #eeecef */	
  /* #DEDCDF */
}

.ccontainer, .content_container {
  margin: 0 auto;
  width: 95%;
}



.bwell {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-style: border-box;
  border-radius: 3.25px;
  margin: .75em auto;
  border: 1.5px solid #BEBDBF;
  @include flexbox();
  @include flex-direction(column);
  @include flex-align-content(space-between);
}


.bwchild {
  @include flexbox-flex(1);
  padding: .5em;
}

.alert{
  margin: 0 auto;
  text-align: center;
}

.org-img {
  margin: 5px;
  vertical-align: middle;
  height: 3em;
  width: 3em;
}

.org-img-full {
    display: block;
    margin: 0 auto;
}

.img_stretch {
  background: #fff; 
  /* This color will have to take the dominant color 
  from a picture provided if no stretching is to occur,
  and there exists such a way to do this(search treehouse show) */
  margin: 0 auto;
}

.event_title {
  font-size: 1.5em;
  text-align: center;
  color: black;
}

.checkinbox {
  margin: 0 auto;
}

.event_times {
  color: grey;
}


/* Positioning classes */

.flex_dir-row- {
  @include flex-direction(row);
}

.block {
  display: block;
}


.centext {
  text-align: center;
}

.text1-5 {
  font-size: 1.5em;
}   

.texts1-75 {
  font-size: 1.75em;
}


#black-attempt {
	color: red;
	/* sublime black background-color: #46423D; */
	background-color: #A1497B;
}


/* to remember for desktop header font-size
#logo {
	font-size: 1.85em;
	color: #fff;
}
*/







/* forms */


.event_form input, .event_form textarea {
  height: 1.5em !important;
  width: 100%;
  border-radius: 2%;

}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  /* @extend .error; Don't think there is an .error class */
}




/* Account stuff */

.field {
  border: 0px solid #fff;
  border-bottom: 1px solid grey;
  height: 2em;
}

.email_field {
  width: 50%;
  margin: 0 auto;
}

.mar30px-b {
  margin-bottom: 30px;
}



/* events-comments */

.points {
  color: grey;
  font-size: .8em;
  padding-bottom: .5em;
}

.comment {
  display: block;
}
.timestamp {
  color: #272822;
}
.gravatar {
  float: left;
  margin-right: 10px;
}


.center-wrapper {
	width: 40%;
	margin: 0 auto;
}

@media screen and (max-width: 620px) {
  .center-wrapper {
    width: 70%;
  }
}

.listed_user {
	list-style: none;
	font-size: 1.75em;
}

.btn-xlarge {
		margin: 5px auto;
    background-color: #00CC66;
    font-size: .75em; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.pane {
  border-top: 1px solid #E9EAEB;
  border-bottom: 1px solid #E9EAEB;
}

/* Maybe have all red/green text stylings in two classes/ids and then comment them */
.locked-event {
	color: red;
}

.blue {
  color: blue;
}

.unlocked-event {
	color: green;
}

/* signup page */

.field {
  background: #A1497B;
  color: #fff;
  width: 70%; 
  margin: 1.3rem 0;
}

.fb_btn {
  font-size: 1.5rem; 
  color: #fff; 
  border: 1px solid #fff;
  padding: 3px 6px;
}

.signup_btn {
  background: #A1497B !important;
  font-size: 1.25rem !important; 
  color: #C1C1AF !important; 
  border: 1px solid #C1C1AF !important;
  padding: 3px 6px !important;
}

.or {
  color: #C1C1AF;
  font-size: 1rem; 
  margin: 30px 0 -1.25rem 0;
}

.field:focus {
  width: 80%; 
  font-size: 1.75em; 
  color: #fff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;  
    border-bottom: 1px solid #fff;
}