/* event forms datetimes portion */

#event_start_time_2i {
	float: left;
}

#event_start_time_3i {
	float: left;
}


#event_end_time_2i {
	float: left;
}

#event_end_time_3i {
	float: left;
}

select {
	width: 9%;
}

@media screen and (max-width: 1000px) {
	select { 
	width: 18.5%;
	}
}

@media screen and (max-width: 580px) {
	select { 
	width: 25%;
	}
}