
.mfooter {
		display: none;
	}

/* smartphones media query */

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
	
	body {
		padding: 0;
	}

	.ccontainer { width: 100%; 	}

	.dheader { display: none; }

	.mheader {
		background-color: #A1497B;
		position: fixed;
		top: 0;
		width: 100%;
		font-family: 'Open Sans', sans-serif;	
		height: 2.75em;
	}

		.mnav {
		background-color: red;
		display: block;
	}


	.mnav li a {
		display: block;
		float: left;
		padding: 0 1.5em;
		color: #fff;
	}



}


/* desktop media query */

@media screen and (min-width: 768px) {

	.mheader {
		display: none;
	}



}
