@import "font-awesome-sprockets";
@import "font-awesome";

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox-flex($width) {
  -webkit-box-flex: $width;
  -moz-box-flex: $width;
  -webkit-flex: $width;
  -ms-flex: $width;
  flex: $width;
}



.dheader { display: none; }


/* smartphones media query */

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
	


	.ccontainer { width: 100%; 	}

	.dheader { display: none; }

	.mheader {
		@include flexbox();
	}	

	.mfooter  {
		position: fixed;
		bottom: 0%;
		width: 100%;
		@include flexbox();
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;

		border-top: 1px solid #584545;
		list-style: none;
		background: #E9EAEB;		
		height: 2em;
		padding-top: .45em;
	}

	.mnav {
		@include flexbox-flex(1);
		text-align: center;
		color: grey;
	}




	.mnavtext {
		font-size: .5em;
	}


	.mheader  {
		position: fixed; 
		top: 0%;
		width: 100%;
	
		@include flexbox();
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;


		font-family: 'Open Sans', sans-serif;
		list-style: none;
		background: #A1497B;		
		height: 2em;
}

.mheadtext {
	font-size: 1.3em;
	color: #fff;
	text-decoration: none;
}

.back_button {
	padding: 0 1em;
}

.curr_page {
	font-size: 1.1em;
}

#future_creator {
	visibility: hidden;
}

	/*.back_button {
		font-size: 1.3em;
		margin: 0 2.5rem 0 1em;
	}
	*/

	/*.thefuture {
		background-color: rgba(255, 255, 255, .5);
	}
	*/

	.mheadnav {
		@include flexbox-flex(1);
		text-align: center;
	}

}






/* desktop media query */

@media screen and (min-width: 768px) {
/*
	.mheader {
		display: none;
	}
*/



}
