.navbar-toggle {
	display: none;
}

@media screen and (max-width: 768px) {

/* footer stylings, definitely still working on it */
	
	.mfooter {
		position: fixed;
		left:0px;
   	bottom:0px;
   	height: 3.5rem;
   	width:100%;
		background-color: #eeecef;
		border-top: .75px solid #777678;
	}

	.mglyph {
		background-color: red;
		position: absolute;
		font-size: 1em;
	}

	.glyph-text {
		font-size: .85em;
		margin: 0 auto;		
	}

	.navbar-brand {
		display: none;
	}

	.bs-glyphicons-list li {
		float: left;
		width: 25%;
		list-style: none;
		padding-top: .55em;
		/* margin-right: 2em; */
	}

/* header stylings */
	
	.mheader {
		font-size: 1.2em;
		height: 2.9em;
		top: 50%;
		width: 100%;
		
	}

	.mnav {
		color: #fff;
		/* text-decoration: underline; */
		position: relative;
		top: 25%;
		margin-left: 12%;	
	}

	#mnav2 {
		margin-left: 12%;
	}

	#mnav3 {
		margin-left: 5%;
	}

	.mfooter {
		display: none;
	}

}



@media screen and (min-width: 768px) {

	.mheader {
		display: none;
	}

	.mfooter {
		display: none;
	}


}
