<div class='well'>
  <li>
  <span class="event_title"> <%= link_to organization.name, organization %></span><style>.event_title {font-size: 2.5em;}</style>
  <style>.points { font-size: 1.25em; }</style>
  <span class="comment"><%= organization.description %></span>
  <span class="points"><%= pluralize(organization.joiners.count, 'member') %></span> <!-- Add members here -->
  <br> 
  
    <%# if current_user.gleader %>
      <%#= link_to "View Members", organization %>
    <%# else %>
    <%# end %>
    <% if !current_user.nil? && current_user.admin? %>
    <%= link_to "delete", organization, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: organization.name %>
  <% else %>
  <% end %>
</li>
</div>