<!-- Will sort this out once checkin button works -->
<% provide(:title, @organization.name) %>
<div class="ccontainer">


      <section>
        <%= render 'shared/stats' %>
         
 
      <h1><%= @organization.name %> Events </h1><style>h1 {text-align: center;}</style>
      <% if @events.any? %>
        <ul class="users">
          <%= render @events %>
        </ul>
        <%= will_paginate @events %>
      <% end %>
   
</div>