<footer class="mfooter">
	<div clas="bs-glyphicons">
	<ul class='bs-glyphicons-list'>
	
	<li>	
		<span class="glyphicon glyphicon-tags mglyph" id="mglyph1"></span>
		<span class="glyphicon-class">All</span>
	</li>
	
	<li>
		<span class="glyphicon glyphicon-user mglyph" id="mglyph2"></span>
		<span class="glyphicon-class">Personal</span>
	</li>
	
	<li>
		<span class="glyphicon glyphicon-tag mglyph" id="mglyph3"></span>
		<span class="glyphicon-class">HSA<!-- in this spots put the organization for which the user is most active(or chooses) --></span>
	</li>
	
	<li>
		<span class="glyphicon glyphicon-arrow-right mglyph" id="mglyph4"></span>
		<span class="glyphicon-class">Other</span>
	</li>	
  
  </ul>
  </div>
</footer>	