 <div class="mfooter">
   <li class='mnav' id="mnav"><a class="nested">A</a></li>
   <li class='mnav' id="mnav"><a>B</a></li>
   <li class='mnav' id="mnav"><a>C</a></li>
   <li class='mnav' id="mnav"><a>D</a></li>
 </div>