      <div class='mheader' id="color_changable" onclick="changeColor()">
         <%= link_to events_path, class: "mhnav back_button" do %>
              <i class="fa fa-angle-left mheadtext"></i>
            <% end %>
        
          
              <li class='mhnav mheadtext curr_page'><%= yield :title %></li>
            
        
        <%= link_to '#', class: "mhnav TBN"  do %>
              <i class="color_btn bwchild"></i>
            <% end %>
        

       </div>
<script>
document.on('page:load', applyColor());
</script>





