      <div class='mheader'>
         <%= link_to events_path, class: "mhnav back_button" do %>
              <i class="fa fa-angle-left mheadtext"></i>
            <% end %>
        
          
              <li class='mhnav mheadtext curr_page'><%= yield :title %></li>
            
        
        <%= link_to events_path, class: "mhnav back_button" do %>
              <i class="fa fa-angle-double-left mheadtext" id="future_creator"></i>
            <% end %>
        

       </div>






